body
{
    margin: 0;
    /* background: linear-gradient(to right, #000000, #2c3e50, #4ca1af); */
/* background: linear-gradient(to right, #000000, #00c6ff); */
background: linear-gradient(to right, #000000, #8ec5fc, #e0c3fc);
/* background: linear-gradient(135deg, rgba(0,0,0,0.8), #00c6ff); */

    font-family: 'Poppins', sans-serif;
    position: relative;
    height: 100%;
}

#header
{
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 70px;
    background-color: black;
}
#header a img
{
    width: 85px; 
}
#header div ul
{
    display: flex;
    gap: 80px;
}
#header div ul li a
{
    color: aliceblue;
    text-decoration: none;
}
#header ul li a:hover {
    cursor: pointer;
    border-radius: 2px;
    padding: 3px;
    background-color: aliceblue;
    font-family: 'Orbitron', sans-serif;
    color: black;
    animation: anim 0.3s ease-in-out forwards;
}

@keyframes anim {
    from {
        opacity: 0;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(50%);
    }
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 700px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.slides {
    display: flex;
    width: 100%;
    animation: slide 3s infinite;
}
.slide {
    width: 100%;
    flex: 1 0 100%;
}
.slide img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}
@keyframes slide {
    0%, 50% { transform: translateX(0%); }
    50%, 100% { transform: translateX(-100%); }
}
#hero
{
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}
#form ,#forms
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
#form label
{
    color: white;
}
#forms label
{
    color: black;
}
#form input, #forms input
{
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #d5d0d08b;
}
#form p
{
    color: whitesmoke;
}
#form p a{
    color: rgb(0, 195, 255);
    text-decoration: none;
}
#forms p a{
    color: rgb(30, 0, 255);
    text-decoration: none;
}
#form p a:hover
{
    font-size: large;
}
#signup-btn
{
    margin-top: 15px;
    background-color: rgb(84, 84, 244);
    color: aliceblue;
    height: 30px;
    border: none;
    border-radius: 10px;
}
#signup-btn:hover
{
    box-shadow: 0px 8px 10px rgba(0,0,0,0.2);
    background-color: rgb(15, 167, 15);
    color: aliceblue;
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

/* index.html */

#party
{
    display: flex;
    flex-direction: column;
}
#create-party-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}
#create-party
{
    background-color: aqua;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
#create-party button
{
    border-radius: 50%;
    background: white;
    border: none;
    height: 50px;
    width: 50px;
    font-size: x-large;
}
#create-party button:hover{
    transform: scale(1.15);
    background: linear-gradient(135deg, rgba(0,0,0,0.8), #00c6ff);
    transition: all 0.3s ease-in-out;

}
#load-parties
{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 30px;
    margin-left: 30px;
}
#join-party{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px;
}
#join-party button
{
    width: 30%;
    height: 32px;
    border-radius: 8px;
    border: none;
    background-color: #000;
    color: #8ec5fc;
    border: 2px solid #8ec5fc;
    


}
#join-party button:hover
{
    background: linear-gradient(to right, #000000, #00c6ff);
    color: white;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.party-card
{
    background-color: aliceblue;
    width: 280px;
    padding: 10px;
}
#party-id{
    color: #395be4;
}
#party-title{
    color: #fa6551;
}


/* join.html */
#join-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}
#join-form
{
    
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    gap:20px;
    padding: 17px;
}
#join-form select, #join-form input
{
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: #d5d0d08b;
    
}
#join-form button
{
    width: 100%;
    height: 32px;
    border-radius: 8px;
    border: none;
    background-color: #000;
    color: #8ec5fc;
    border: 2px solid #8ec5fc;
}
#join-form button:hover
{
    background: linear-gradient(to right, #000000, #00c6ff);
    color: white;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}


/* create.html */
#create-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}
#create-form
{
    
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    gap:20px;
    padding: 17px;
}
#create-form h3
{
    text-align: center;
}
#create-form input
{
    height: 30px;
    padding: 5px;
    border-radius: 10px;
    border: none;
    background-color: #d5d0d08b;
    
}
#create-form button
{
    width: 400px;
    height: 32px;
    border-radius: 8px;
    border: none;
    background-color: #000;
    color: #8ec5fc;
    border: 2px solid #8ec5fc;
}
#create-form button:hover
{
    background: linear-gradient(to right, #000000, #00c6ff);
    color: white;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

/* profile.html */
#container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
    /* background-color: #e0c3fc */
}
#option-container
{
    background: linear-gradient(135deg, rgba(237, 98, 204, 0.8), #bc4fee);
    width: 400px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
}
#option-container div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#option-container div button
{
    border-radius: 50%;
    background: white;
    border: none;
    height: 50px;
    width: 50px;
    font-size: x-large;
}
#option-container div button:hover{
    transform: scale(1.15);
    background: linear-gradient(135deg, rgba(0,0,0,0.8), #00c6ff);
    transition: all 0.3s ease-in-out;

}

.leave-button
{
    background: linear-gradient(135deg, rgba(0,0,0,0.8), #00c6ff);
    border: none;
    height: 30px;
    width: 100%;
    font-size: large;
}
.leave-button:hover{
    background: red;
    color: white;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

input
{
    padding: 10px;
}